
 * {
    max-width: 1600px;
     margin: 0 auto;
     padding: 0;
     box-sizing: border-box;
 }
.open-sans {
     font-family: "Open-Sans", sans-serif;
 }
 .inter{
  font-family: "Inter", sans-serif;
}
#bg-color{
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    gap: 32px;
     padding: 0 32px;
    background-color: #1A0B2E;
    justify-content: space-between;
    align-items: center;
    
}
.tittle{
    max-width: 219px;
    height: 32px;
    color: #000;
    padding: 0;
}
#text-primary{
    font-weight: bold;
    font-size: 30px;
    color: aliceblue;
}
#text-secondary{
     font-size: 30px;
    font-weight: bold;
     color: #FB09B4;
}
.menu{
    max-width: 218px;
    height: 19px;
    padding:0px auto;
    display: flex;
    margin-right: 32px;
    list-style: none;
    text-decoration: none;
}
.menu a{
    max-width: 47px;
    height: 19px;
    font-size: medium;
    font-style: 16px;
    padding: 12px 12px;
    color: aliceblue;
     align-items: center;
text-decoration: none;
}
.btn{
    max-width: 200px;
    height: 44px;
    padding: 0 16px;
    background:linear-gradient(#F7E93F,#FB09B4,#9100F8);
    cursor: pointer;
    border-radius: 6px;
     display: flex;
    align-items: center;
    justify-content: center; 
    margin-right: 200px;
}
.Subscribe{
    max-width: 79px;
    font-size: medium;
    font-weight: 16px;
    align-items: center;
    color: aliceblue;
    padding: 0 auto;
}
.btn::after{
    content:" →";
    max-width: 15px;
    height: 15px;
    color: #FFFF;
}
.btn:hover{
    background-color: #2A186C;
    cursor: pointer;
}
.stats-section{
    max-width: 1600px;
    height: 760px;
    background-image: url(../assets/Image\ \(3\).png);
     padding-top:100px;
     background-color: #000;
}
.stats-section-container{
    max-width: 550px;
    height: 558px;
    gap:40px;
    justify-content: center;
    align-items: center;
  
}
.stats-section-container-microphone{
    max-width: 350px;
    height: 350px;
    background-color: #2A186C;
        justify-content: center;
    align-items: center;
   
}
.stats-section-container-description{
    max-width: 550px;
    height: 168px;
    gap: 24px;
    margin-top: 40px;
     justify-content: center;
    align-items: center;
  
}
.stats-section-container-microphone-circle{
    max-width: 350px;
    height: 350px;
    background:linear-gradient(#F7E93F,#FB09B4,#9100F8); 
    border-radius: 50%;
     display: flex;
    justify-content: center;
    align-items: center;

}
.stats-section-container-microphone-img{
    max-width: 200px;
    height: 200px;
    color: #FFFF;
    object-fit: contain;
}
@keyframes mylastmove {
  from {background-color: rgb(81, 255, 0);}
  to {background-color: rgb(255, 0, 183);}
}
.stats-section-container-microphone-newbtn{
    max-width: 75px;
    height: 38px;
    padding: 16px 8px;
    border-radius: 10px;
    background: #00FF88;
       display: flex;
    justify-content: center;
    align-items: center;
    translate: 100px -250px;
    animation: mylastmove 5s infinite;
}
.stats-section-container-microphone-newbtn a{
    max-width: 43px;
    height: 22px;
    font-weight: 600;
    font-size: 18px;
    color: #000;
}
.stats-section-container-description-container{
    max-width: 550px;
    gap: 8px;
           display: flex;
           flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap:8px;
    
    padding: 10px;  
}
.stats-section-container-description-container-tittle{
    max-width: 550px;
    font-weight: 600;
    font-size: 30px;
    color:#fff;
     text-align: center;
}
.stats-section-container-description-container-discription{
    max-width: 550px;
   
    opacity: 80%;
    font-size: 1rem;
     text-align: center;
    color: #FFFF;
}
.stats-section-container-description-btn{
    max-width: 356px;
    height: 44px;
    gap:8px;
    display: flex;
    flex-wrap: wrap;
     justify-content: flex-start;
      align-items: center;  
      padding: 0;
}
.primary-btn-1{
    max-width: 201px;
    height: 44px;
    display: flex;
   background:linear-gradient(#F7E93F,#FB09B4,#9100F8);
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;

}
.primary-btn-2{
    max-width: 147px;
    height: 44px;
    border-radius: 10px;
    display: flex;
   border: 1px solid #00FF88;
   flex-direction: row; 
    justify-content: center;
    align-items: center;
    color: #00FF88;
}
.stats-section-container-description-btn a {
    display: inline-block; 
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: 600;
}
.banner{
    max-width: 1600px;
    height: 646px;
    padding: 200px 50px;
     flex-direction: column;
    align-items: center;
    background-color:#1A0B2E ;
    gap:80px;
     margin: 0 auto;
}
.banner-contant{
    max-width: 1200px;
    height: 222px;
    gap: 16px;
    padding-top: 40px;
    color: #FFFF;

}
.banner-tittle{
    max-width: 1200px;
    height: 58px;
    font-weight: bold;
    font-size: 48px;
    color: #FFFF;
    margin-bottom: 20px; 
    text-align: center;
}
.discription{
    max-width: 1200px;
   height: 148px;
   font-size: 1rem;
   color: #FFFF;
   opacity: 0.8;
   line-height:1.25;
   font-family: 'Inter',sans-serif;
   text-align: justify;
    text-justify: inter-word;
}
.banner-footer{
    max-width: 1200px;
    height: 94px;
    gap:80px;
      align-items: center;
      display: flex;
     justify-content: space-between;
    align-items: center; 
}
.banner-footer-contant{
    max-width: 240px;
    height: 92px;
    padding: 0 auto;
}
.banner-footer-contant h1{
    max-width: 240px;
    height: 58px;
    font-size: 48px;
    color: #00FF88;
}
.banner-footer-contant h4{
    max-width: 240px;
    height: 20px;
    font-size: 16px;
    color: #FFFF;
}
.techweb-advantage{
    max-width: 1600px;
    height: 1121;
    padding: 200px 120px;
    background-color: #230E3D;
}
.techweb-advantage-contant{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
}
.techweb-advantage-contant-headphone{
    width: 380px;
    height: 480px;
    grid-row: span 2;
}

.techweb-advantage-contant-mobile,
.techweb-advantage-contant-community{
    width: 790px;
    height: 225px;
    grid-column: span 2;
}

.techweb-advantage-contant-interviews{
    width: 790px;
    height: 273px;
    grid-column: span 2;
}

.techweb-advantage-contant-resources{
    width: 380px;
    height: 273px;
}

.techweb-advantage-contant > div {
  background: #351165;
  border-radius: 40px;
  padding: 24px 24px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
 
}
.techweb-advantage-contant img {
  max-width: 60px;
  height: 60px;
  margin-bottom: 16px;
}

.techweb-advantage-contant h5 {
    max-width: 352px;
    height: 27px;
  font-size: 22px;
  padding-bottom: 10px;
  color:#fff;
}

.techweb-advantage-contant p {
    max-width: 352;
  font-size: 12px;
  color:#fff;
  line-height: 1.6;
  opacity: 0.6;
}

@media screen and (max-width:576px){
    #bg-color{
        max-width: 440px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        background-color: #1A0B2E;
        position: relative;
    }
    .menu{
        display: none;
    }
      .btn{
        display: none;
    }

    #text-primary,
    #text-secondary{
        max-width: 137px;
        height: 20px;
        font-size: 22px;
        
    }

    .hamburger{
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer;
    }
    .hamburger span {
        width: 25px;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
    }

.stats-section{
    max-width: 440PX;
    height: 466PX;
    background-image: url(../assets/Image\ \(3\).png);
    background-size: cover;
    background-position: center;
    background-color: #000;
    gap:24px;
}

.stats-section-container{
    max-width: 400px;
    height: 386px;
     justify-content: center;
    align-items: center;
}
.stats-section-container-microphone{
    max-width: 200px;
    height: 200px;
    background-color: #2A186C;
        justify-content: center;
    align-items: center;
   
}
.stats-section-container-description{
    max-width: 400px;
    height: 162px;
    gap: 24px;
    margin-top: 40px;
     justify-content: center;
    align-items: center;
  
}
.stats-section-container-microphone-circle{
    max-width: 200px;
    height: 200px;
    background:linear-gradient(#F7E93F,#FB09B4,#9100F8); 
    border-radius: 50%;
     display: flex;
    justify-content: center;
    align-items: center;
    position:relative;

}
.stats-section-container-microphone-img{
    max-width: 40px;
    height: 40px;
 position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-160%, -230%);
}
.stats-section-container-microphone-newbtn{
    max-width: 70px;
    height: 35px;
    padding: 16px 8px;
    border-radius: 10px;
    background: #00FF88;
       display: flex;
    justify-content: center;
    align-items: center; 
     translate: 100px -190px;
}
.stats-section-container-microphone-newbtn a{
    max-width: 38px;
    height: 19px;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}
.stats-section-container-description-container{
    max-width: 400px;
    height: 94px;
    gap: 8px;
           display: flex;
           flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;  
}
.stats-section-container-description-container-tittle{
    max-width: 400px;
    font-weight: 600;
    font-size: 40px;
    color:#fff;
     text-align: center;
}
.stats-section-container-description-container-discription{
    max-width: 400px;
   
    opacity: 80%;
    font-size: 1rem;
     text-align: center;
    color: #FFFF;
}
.stats-section-container-description-btn{
    max-width: 356px;
    height: 44px;
    gap:8px;
    display: flex;
    flex-wrap: wrap;
     justify-content: flex-start;
      align-items: center;  
      padding-top: 20px;
      margin: 0 auto;
}
.primary-btn-1{
    max-width: 201px;
    height: 44px;
    display: flex;
   background:linear-gradient(#F7E93F,#FB09B4,#9100F8);
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 10px;

}
.primary-btn-2{
    max-width: 147px;
    height: 44px;
    border-radius: 10px;
    display: flex;
   border: 1px solid #00FF88;
   flex-direction: row; 
    justify-content: center;
    align-items: center;
    color: #00FF88;
}
.stats-section-container-description-btn a {
    display: inline-block; 
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    font-weight: 600;
}

      .banner {
        max-width: 440px;
        padding: 20px 20px;
        gap: 40px;
        padding-top: 20px;
    }

    .banner-contant {
        max-width: 400px;
        gap: 16px;
        padding-top: 40px;
    }
    .banner-tittle {
    font-size: 32px;
    font-weight: bold;
    color: #FFFF;
    text-align: center;
    line-height: 1.2;       
    margin: 0;              
}
    .discription {
        max-width: 400px;
        margin-top: 10px;
    }

    .banner-footer {
        max-width: 400px;
        gap: 20px;
        flex-wrap: wrap;
        padding-top: 40px;
    }
  .techweb-advantage{
    max-width: 400px;
    height: auto;;
    padding: 20px 40px;
    gap:16px;
    background-color: #230E3D;
    
}
.techweb-advantage-contant{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

}